/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;


  /*Green gradient*/
  --body-color: linear-gradient(90deg, hsl(0, 0%, 100%) 0%, hsl(331, 80%, 82%) 50%);
  --container-color: rgb(255, 0, 106);
  

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: .938rem;
  background: var(--body-color);
  
}

h1,h2,h3,h4{
  color: white;
  font-weight: .600rem;
}
h1 span{
  color: rgb(255, 0, 106);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
a img{
  height: 60px;

}

a p {
  font-family: cursive;
  font-weight: 600;
  font-size: 20px;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: var(--body-font);
  font-size: .938rem;
  
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 4.5rem 0 2rem;
}

.section__title{
  font-size: 2rem;
  margin-bottom:2rem;
  text-align: center;
  
}
.section__title span{
  color: rgb(255, 0, 106);
}

/*=============== LAYOUT ===============*/
.container{
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background: var(--body-color); 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 500;
  
}

.nav__logo-img{
  width: 4rem;
}


.nav__logo,
.nav__toggle,
.nav__close{
  color: white;
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    width: 100%;
    background: var(--container-color);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: .4s;
    z-index: 100;
    border-radius: 0 0 1.5rem 1.5rem;
  }
}

.nav__img{
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__close{
  font-size: 1.8rem;
  position: absolute;
  top: .5rem;
  right: .7rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link{
  text-transform: uppercase;
  font-weight: 900;
  transition: .4s;
  color: white;
}

.nav__link:hover{
  color: rgb(254, 97, 162);
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Change background header */
.scroll-header{
  background: var(--container-color);
}

/* Active link */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: .75rem-5;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

/*=============== HOME ===============*/
.home__content{
  row-gap: 1rem;
}

.home__group{
  display: grid;
  position: relative;
  padding-top: 1rem;
}

.home__img{
  height: 250px;
  justify-self: center;
}
.home_img1{
  margin-top: -10px;
  width: "400px" ;
  height: "600px";
  justify-self: center;
}

.home__indicator{
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 7rem;
  right: 2rem;
}

.home__indicator::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: white;
  top: -3rem;
  right: 45%;
}

.home__details-img{
  position: absolute;
  right: .5rem;
}

.home__details-title{
  display: block;
  font-size: .813rem;
  text-align: right;
}
.home__details-subtitle{
  display: block;
  font-size: .813rem;
  text-align: right;
  color: rgb(97, 0, 40);
}

.home__subtitle{
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: rgb(97, 0, 40);
}

.home__title{
  font-size: 4rem;
  font-weight: 900;
  line-height: 109%;
  margin-bottom: 1rem;
  color: rgb(255, 0, 106);
}

.home__description{
  margin-bottom: 1rem;
  color: white;
}

.home__buttons{
  display: flex;
  justify-content: space-between;
  
}

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: rgb(255, 0, 106);
  color: white;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(500);
  transition: .3s;
}

.button:hover{
  color: rgb(255, 0, 106);
  background-color : white;
}

.button__icon{
  font-size: 1.25rem;
}


/*=============== CATEGORY ===============*/

.category__container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
}

.category__data{
  text-align: center;
}

.category__img{
  
  height: 300px;
  margin-bottom: .25rem;
  transition: .3s;
}

.category__title{
  margin-bottom: .25rem;
  font-size: large;
}
.category__description{
  font-size: small;
  font-weight: 50px;
  color: rgb(97, 0, 40);
}

.category__data:hover .category__img{
  transform: translateY.5rem;
}

.category__data:hover .category__description{
  color: rgb(255, 0, 106);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 1rem;
}

.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: 2rem;
  color: rgb(97, 0, 40);
}

.about__img{
  width: 550px;
  min-width: 500px;
  height: 500px;
  justify-self: center;
  animation: floating 2s ease-in-out infinite;
}

/*=============== receipe OR TREAT ===============*/
.receipe__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem ;
  padding-top: 1rem;
  
}

.receipe__content {
  position: relative;
  background: linear-gradient(50deg, hsl(0, 0%, 100%) 0%, hsla(331, 96%, 80%, 0.563) 50%);
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
  
}

/* Rest of your existing CSS remains unchanged */


.receipe__img{
  width: 90px;
  transition: .3s;
}

.receipe__subtitle,
.receipe__price{
  display: block;
}

.receipe__subtitle{
  font-size: .75rem;
  margin-bottom: .8rem;
  color: #969696;
}

.receipe__title{
  color: rgb(255, 0, 76);
  font-weight: 500;
  font-size:.938rem;
  margin-bottom: .8rem;
}
.receipe__content:hover{
  transform: translateY(-1rem);
}

.receipe__content:hover .button--link{
  color: rgb(255, 0, 106);
  
}

.receipe__content:hover .receipe__button{
  right: 0;
}
.button--link{
  color: rgb(97, 0, 40);
}

.button--flex{
  display: inline-flex;
  float: right;
  column-gap: .3rem;
  font-weight: 300;
  font-size: .822rem;
  margin-right: 15px;
}

/*=============== DISCOUNT ===============*/
.discount__container{
  
  background: url("../img/discount-bg.png") no-repeat;
  border-radius: 1rem;
  padding: 2.5rem 0 1.5rem;
  row-gap: .75rem;
}

.discount__data{
  text-align: center;
}

.discount__title{
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: rgb(253, 42, 130);
}

.discount__img{
  width: 200px;
  justify-self: center;
}

/*=============== NEW ARRIVALS ===============*/
.new__container{
  padding-top: 1rem;
}

.new__img{
  width: 120px;
  margin-bottom:.5rem;
  transition: .3s;
}

.new__content{
  position: relative;
  background: linear-gradient(90deg, hsl(0, 0%, 100%) 0%, hsl(331, 93%, 61%) 50%);
  width: 242px;
  padding: 2rem 0 1.5rem 0;
  border-radius: .75rem;
  text-align: center;
  overflow: hidden;
}

.new__tag{
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: white;
  color: var(--title-color);
  font-size: .813rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
}

.new__title{
  font-size: .938rem;
  font-weight: 500;
}

.new__subtitle{
  display: block;
  font-size: .813rem;
  margin-bottom: .5rem;
}

.new__prices{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.new__price{
  font-weight: 500;
  color: var(--title-color);
}

.new__discount{
  color: white;
  font-size: .75rem;
  text-decoration: line-through;
  font-weight: 500;
}

.new__button{
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  bottom: 0;
  right: -3rem;
}

.new__icon{
  font-size: 1.25rem;
}

.new__content:hover .new__img{
  transform: translateY(.5rem);
}

.new__content:hover .new__button{
  right: 0;
}

/*=============== NEWSLETTER ===============*/
.newsletter__description{
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(97, 0, 40);
}

.newsletter__form{
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: .75rem;
}

.newsletter__input{
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: var(--title-color);
}

.newsletter__input::placeholder{
  color: rgb(84, 84, 84);
}

/*=============== FOOTER ===============*/
.footer{
  position: relative;
  overflow: hidden;
}

.footer__img-one,
.footer__img-two{
  position: absolute;
  transition: .3s;
}

.footer__img-one{
  width: 100px;
  top: 6rem;
  right: -2rem;
}

.footer__img-two{
  width: 150px;
  bottom: 4rem;
  right: 4rem;
}

.footer__img-one:hover,
.footer__img-two:hover{
  transform: translateY(.5rem);
}

.footer__container{
  row-gap: 2rem;
}

.footer__logo{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  margin-bottom: 1rem;
  font-family: cursive;
  font-weight: 500;
  color: rgb(255, 0, 106);
}

.footer__logo-img{
  width: 50px;

  
}

.footer__description{
  margin-bottom: 2rem;
  color :rgb(97, 0, 40);
}

.footer__social{
  display: flex;
  column-gap: .75rem;
}

.footer__social-link{
  display: inline-flex;
  background: var(--container-color);
  padding: .25rem;
  border-radius: .25rem;
  color: white;
  font-size: 1rem;
}

.footer__social-link:hover{
  background: white;
  color: var(--container-color);
}

.footer__title{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer__links{
  display: grid;
  row-gap: .35rem;
  margin-bottom: 2rem;
}

.footer__link{
  font-size: 1rem;
  color: rgb(97, 0, 40);
  transition: .3s;
}

.footer__link:hover{
  color: white;
}

.footer__copy{
  display: block;
  text-align: center;
  font-size: .75rem;
  margin-top: 4.5rem;
  color: rgb(255, 0, 106);;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background: var(--container-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: .3rem;
  border-radius: .25rem;
  z-index: var(10);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1.25rem;
  color: white;
}

.scrollup:hover{
  background: var(--container-color);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb{
  background: rgb(255, 0, 106);;
  border-radius: .5rem;
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: var(1rem);
    margin-right: var(1rem);
  }

  .home__img{
    height: 200px;
  }
  .home__buttons{
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .category__container{
    grid-template-columns: .8fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .about__container{
    grid-template-columns: .8fr;
    justify-content: center;
  }

  .newsletter__container{
    display: grid;
    grid-template-columns: .7fr;
    justify-content: center;
  }
  .newsletter__description{
    padding: 0 3rem;
  }
}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .section{
    padding: 7rem 0 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__link{
    text-transform: initial;
    font-weight: initial;
  }

  .home__content{
    padding: 8rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .home__img{
    height: 300px;
  }
  
  .category__container{
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__title,
  .about__data{
    text-align: initial;
  }
  .about__img{
    width: 250px;
  }

  

  .discount__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 3rem 0;
    border-radius: 3rem;
  }
  .discount__img{
    width: 350px;
    order: -1;
  }
  .discount__data{
    padding-right: 6rem;
  }

  .newsletter__container{
    grid-template-columns: .5fr;
  }

  .footer__container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
  }
  .footer__img-two{
    right: initial;
    bottom: 0;
    left: 15%;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section__title{
    font-size: var(1.5rem);
    margin-bottom: 3rem;
  }

  .home__content{
    padding-top: 9rem;
    gap: 3rem;
  }
  .home__group{
    padding-top: 0;
  }
  .home__img{
    height: 400px;
    transform: translateY(-3rem);
  }
  .home__indicator{
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }
  .home__indicator::after{
    top: 0;
    height: 75px;
  }
  .home__details-img{
    bottom: 0;
    right: 58%;
  }
  .home__title{
    margin-bottom: var(1rem-5);
  }
  .home__description{
    margin-bottom: var(2rem-5);
    padding-right: 2rem;
  }

  .category__container{
    column-gap: 8rem;
  }
  .category__img{
    width: 200px;
  }

  .about__container{
    column-gap: 7rem;
  }
  .about__img{
    width: 350px;
  }
  .about__description{
    padding-right: 2rem;
  }

 
  .receipe__content{
    border-radius: 1.5rem;
  }
  .receipe__img{
    width: 110px;
  }
  .receipe__title{
    font-size: var(1rem);
  }

  .discount__container{
    column-gap: 7rem;
  }

  .new__content{
    width: 310px;
    border-radius: 1rem;
    padding: 2rem 0;
  }
  .new__img{
    width: 150px;
  }
  .new__img,
  .new__subtitle{
    margin-bottom: var(1rem);
  }
  .new__title{
    font-size: var(1rem);
  }

  .footer__copy{
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px){
  .home__img{
    height: 420px;
  }
  
  .footer__img-one{
    width: 120px;
  }
  .footer__img-two{
    width: 180px;
    top: 30%;
    left: -3%;
  }
}

/*=============== KEYFRAMES ===============*/
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
